body {
    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
}

/*Conteúdo da logo*/
.img-logo {
    height: 36px;
}
.logo {
    border-top: 1px solid #F5F6F7;
    border-bottom: 1px solid #F5F6F7;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteúdo barra de navegação*/
.bordas {
    border-top: 1px solid #F5F6F7;
    border-bottom: 1px solid #F5F6F7;
    display: flex;
    justify-content: center;
    height: 40px;
}
.barra-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.02em;
    width: 1250px;
}
.vermelho {
    color: #C3170C;
}
.azul {
    color: ##1E4B9B;
}
.verde-escuro {
    color: #006766;
}
.verde-claro {
    color: #07AA47;
}
.laranja {
    color: #E3662B;
}
.vermelho-claro {
    color: #FB0735;
}
.rosa {
    color:#FF75BB;
}
.amarelo {
    color: #EC7D00;
}
.preto {
    color: #323333;
}
.roxo {
    color: #A81D83;
}

/*conteúdo geral*/
.conteudo-principal {
    display: flex;
    width: 1250px;
    margin: 0 auto;
}
img {
    border-radius: 12px;
}
h1 {
    color: #C4160C;
    font-weight: 700;
    font-size: 52px;
    line-height: 67px;
    letter-spacing: -0.01em;
}
h2 {
    color: #2F3134;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.045em;
}
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.titulo-secundario {
    color: #303134;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

/*Conteúdo da esquerda*/
.conteudo-esquerda {
    width: 50%;
}
.noticia {
    padding: 10px 10px 10px 0;
}
.manchete {
    padding-right: 10px;
}
.noticias-imagens-esquerda {
    border-top: 1px solid #F5F6F7;
    border-bottom: 1px solid #F5F6F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    padding: 20px 0;
}
.noticias-esquerda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
.img-esquerda {
    width: 193px;
    height: 110px;
}

/* Conteúdo da direita*/
.conteudo-direita {
    width: 50%;
    display: flex;
}
.titulo-secundario-imagem{
    color: #2F3134;
}
.coluna {
    border-left: 1px solid #F5F6F7;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.caixa {
    width: 240px;
}
.img-direita {
    width: 240px;
    height: 128px;
}
.p-amarelo {
    color: #EC8006;
}
.p-verde {
    color: #16AE54;
}
.p-vermelho {
    color: #C4170C;
}